---
layout: archive
---

<!-- <img src="../assets/images/hero.jpg" alt="blog hero" class="page__hero-image"> -->

Hey there! &#129311; <br><br>

I'm Chris Shepherd (or Sheps). I'm a software engineer from Manchester, UK.
Welcome to my site!

{{ content }}

<h3 class="archive__subtitle">
  {{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}
</h3>

{% if paginator %} {% assign posts = paginator.posts %} {% else %} {% assign
posts = site.posts %} {% endif %} {% for post in posts %} {% include
archive-single.html %} {% endfor %} {% include paginator.html %}